body
{
    margin: 15% 20%;
}
h1
{
    margin: 15% 20%;
    text-align: left;
}

table,td,tr,th
{
    font-size: large;
    border: 1px solid black;
}
a
{
    text-decoration: underline;
}

img
{
    height: 20%;
    /*width: 20%;*/
    /*resize: both;*/
}